<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>教院校内二手交易网站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="https://v2.bootcss.com/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="https://v2.bootcss.com/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://v2.bootcss.com/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://v2.bootcss.com/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://v2.bootcss.com/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="https://v2.bootcss.com/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="https://v2.bootcss.com/assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{% url 'index' %}">校内二手交易网站</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
                {% if user.is_authenticated %}
              Logged in as <a href="#" class="navbar-link">{{ user.username }}</a>
                {% else %}
                        <a href="#" class="navbar-link">您还没有登陆</a>
                {% endif %}

            </p>
            <ul class="nav">
              <li class="active"><a href="{% url 'index' %}">主页</a></li>
              <li class="active"><a href="{% url 'viewHistory' %}">浏览历史</a></li>
              <li class="active"><a href="{% url 'users:register' %}">注册</a></li>
              <li class="active"><a href="{% url 'login' %}?next={{ request.path }}">登陆</a></li>
              <li class="active"><a href="{% url 'logout' %}?next={{ request.path }}">注销</a></li>
              <li class="active"><a href="{% url 'about' %}">关于</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">校区分类</li>
              <li><a href="{% url 'LocationCate' 1 %}">草场门</a></li>
              <li><a href="{% url 'LocationCate' 2 %}">浦口</a></li>
              <li><a href="{% url 'LocationCate' 3 %}">小行</a></li>
              <li class="nav-header">产品种类</li>
              <li><a href="{% url 'BrandCate' 1 %}">电子产品</a></li>
              <li><a href="{% url 'BrandCate' 3 %}">二手书籍</a></li>
              <li><a href="{% url 'BrandCate' 2 %}">生活用品</a></li>
              <li><a href="{% url 'BrandCate' 4 %}">二手衣物</a></li>
              <li><a href="{% url 'BrandCate' 5 %}">其他</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h3>{{ catename }}校区上线产品</h3>
          </div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table">
				<thead>
					<tr>
						<th>
							产品名称
						</th>
						<th>
							价格(元)
						</th>
						<th>
							上线时间
						</th>
						<th>
							产品链接
						</th>
					</tr>
				</thead>
				<tbody>
					{% if cate_brand_list %}
					{% for item in cate_brand_list %}
					<tr class="success">
						<td>
							{{ item.name }}
						</td>
						<td>
							{{ item.price }}
						</td>
						<td>
							{{ item.create_date}}
						</td>
						<td>
							<a href="{% url 'BrandDetail' item.id %}">链接</a>
						</td>
					</tr>
					{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>

        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; 1440720017 梁尹天</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://v2.bootcss.com/assets/js/jquery.js"></script>
    <script src="https://v2.bootcss.com/assets/js/bootstrap-transition.js"></script>
    <script src="https://v2.bootcss.com/assets/js/bootstrap-alert.js"></script>
    <script src="https://v2.bootcss.com/assets/js/bootstrap-modal.js"></script>
    <script src="https://v2.bootcss.com/assets/js/bootstrap-dropdown.js"></script>
    <script src="https://v2.bootcss.com/assets/js/bootstrap-scrollspy.js"></script>
    <script src="https://v2.bootcss.com/assets/js/bootstrap-tab.js"></script>
    <script src="https://v2.bootcss.com/assets/js/bootstrap-tooltip.js"></script>
    <script src="https://v2.bootcss.com/assets/js/bootstrap-popover.js"></script>
    <script src="https://v2.bootcss.com/assets/js/bootstrap-button.js"></script>
    <script src="https://v2.bootcss.com/assets/js/bootstrap-collapse.js"></script>
    <script src="https://v2.bootcss.com/assets/js/bootstrap-carousel.js"></script>
    <script src="https://v2.bootcss.com/assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
